form {
  display: flex;
  justify-content: center;
}

.clienteForm {
  display: flex;
  flex-direction: column;
  width: 255px;

  &_fields {
    height: 40px;

    label {
      padding-right: 16px;
    }

    input {
      float: right;
    }

    &--error {
      display: flex;
      color: red;
      font-size: 12px;
      width: 100%;
    }
  }
}
